@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-R5QPZz-SiKIn: 1140px;
  --plasmic-token-content-max-width: var(--token-R5QPZz-SiKIn);
  --token-pIZdlOK7qdfQ: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-pIZdlOK7qdfQ);
  --token-K7wYzOphRdcB: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-K7wYzOphRdcB);
  --token-HudN-cKfG5NB: #92959bd9;
  --plasmic-token-light-label: var(--token-HudN-cKfG5NB);
  --token-QPYJ2u1FyMq2: #05050599;
  --plasmic-token-light-secondary: var(--token-QPYJ2u1FyMq2);
  --token-VY0QnzDiBs9f: #007aff;
  --plasmic-token-light-blue: var(--token-VY0QnzDiBs9f);
  --token-f532WhI0w8Pk: #ff3b30;
  --plasmic-token-light-red: var(--token-f532WhI0w8Pk);
  --token-swj13r58JOxQ: #ffffff;
  --plasmic-token-white: var(--token-swj13r58JOxQ);
  --token-ZArasxyygB_j: #ffffffd9;
  --plasmic-token-dark-label: var(--token-ZArasxyygB_j);
  --token-9XxPST9YAH2c: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-9XxPST9YAH2c);
  --token-OTJEGfoWTjs4: #0000001a;
  --plasmic-token-light-quarternary: var(--token-OTJEGfoWTjs4);
  --token-BcVFabKufTY_: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-BcVFabKufTY_);
  --token-Z_YeE4IQ5If5: #32d74b;
  --plasmic-token-dark-green: var(--token-Z_YeE4IQ5If5);
  --token-552CPFstXSos: #0a84ff;
  --plasmic-token-dark-blue: var(--token-552CPFstXSos);
  --token-XZnfWZyxspje: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-XZnfWZyxspje);
  --token-5bF7XoXsyxe2: #34c759;
  --plasmic-token-light-green: var(--token-5bF7XoXsyxe2);
  --token-OKi8HTDzbVc9: #5856d6;
  --plasmic-token-light-indigo: var(--token-OKi8HTDzbVc9);
  --token-C6MjEDpfgMkO: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-C6MjEDpfgMkO);
  --token-MeAeDHiwi6TF: 1240px;
  --plasmic-token-max-width-navbar: var(--token-MeAeDHiwi6TF);
  --token-tqvd9P7jv3Oe: var(--token-cvNKSPX9VKmc);
  --plasmic-token-unnamed-style-token-2: var(--token-tqvd9P7jv3Oe);
  --token-cvNKSPX9VKmc: #eeeeee80;
  --plasmic-token-grey: var(--token-cvNKSPX9VKmc);
  --token-uux15UYvph8P: #2563eb;
  --plasmic-token-brand-brand: var(--token-uux15UYvph8P);
  --token-EACvu9PLu27A: 0.5rem;
  --plasmic-token-size-8: var(--token-EACvu9PLu27A);
  --token-84iWpztJgsWF: Inter;
  --plasmic-token-sans-serif: var(--token-84iWpztJgsWF);
  --token-ia1P06zqLxyL: 1rem;
  --plasmic-token-font-md: var(--token-ia1P06zqLxyL);
  --token-N6igy4h1Cd8J: 1.25;
  --plasmic-token-line-height-md: var(--token-N6igy4h1Cd8J);
  --token-ISwk9tWZgIF0: 0.375rem;
  --plasmic-token-size-6: var(--token-ISwk9tWZgIF0);
  --token-yFuC6p0cPcEr: #374151;
  --plasmic-token-neutral-neutral: var(--token-yFuC6p0cPcEr);
  --token-FqcxVV7QQZ-X: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-FqcxVV7QQZ-X);
  --token-r_cNM2m9SVzN: #6b7280;
  --plasmic-token-muted-muted: var(--token-r_cNM2m9SVzN);
  --token-Ilrx5P0BMQB5: 0.25rem;
  --plasmic-token-size-4: var(--token-Ilrx5P0BMQB5);
  --token-MSZ7_EzSPSGa: 0.75rem;
  --plasmic-token-font-sm: var(--token-MSZ7_EzSPSGa);
  --token-jTNUEdU8Xz2M: 1;
  --plasmic-token-line-height-sm: var(--token-jTNUEdU8Xz2M);
  --token-9HgEimrAjaTz: 1.25rem;
  --plasmic-token-font-lg: var(--token-9HgEimrAjaTz);
  --token-Uf4XsTA6rOmI: 1.4;
  --plasmic-token-line-height-lg: var(--token-Uf4XsTA6rOmI);
  --token-7R7QfLpk9EvS: 0.125rem;
  --plasmic-token-size-2: var(--token-7R7QfLpk9EvS);
  --token-cc7lUMIIlyTP: #16a34a;
  --plasmic-token-success-success: var(--token-cc7lUMIIlyTP);
  --token-v0CyLy4FBkCK: #facc15;
  --plasmic-token-warning-warning: var(--token-v0CyLy4FBkCK);
  --token-lGKmdYD_7jad: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-lGKmdYD_7jad);
  --token-OREESMGQUqVs: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-OREESMGQUqVs);
  --token-MQ30oGD6fvHj: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-MQ30oGD6fvHj);
  --token-WOQCJ9k7MogJ: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-WOQCJ9k7MogJ);
  --token-mo9AJo4C-BwK: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-mo9AJo4C-BwK);
  --token-a8aV8sJQ6YDf: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-a8aV8sJQ6YDf);
  --token-gDudcYDq0vfr: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-gDudcYDq0vfr);
  --token-vB2QZyP0vr7_: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-vB2QZyP0vr7_);
  --token-sfK1nC6Jvw1L: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-sfK1nC6Jvw1L);
  --token-CY-l-zF-vb77: #86efac;
  --plasmic-token-success-success-border: var(--token-CY-l-zF-vb77);
  --token-N4K5yyZZewmT: #fde047;
  --plasmic-token-warning-warning-border: var(--token-N4K5yyZZewmT);
  --token-ODFIPpDZxOpL: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-ODFIPpDZxOpL);
  --token-wkN4QPkUvpTr: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-wkN4QPkUvpTr);
  --token-vxhJBLKrTuoA: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-vxhJBLKrTuoA);
  --token-7ouFaVGWzkpC: #00000033;
  --plasmic-token-interaction-pressed: var(--token-7ouFaVGWzkpC);
  --token-pu5CEB-pQnfI: 0.625rem;
  --plasmic-token-size-10: var(--token-pu5CEB-pQnfI);
  --token-ujnI7OpvGYBG: 0.75rem;
  --plasmic-token-size-12: var(--token-ujnI7OpvGYBG);
  --token-AZ7LUpqWkMXe: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-AZ7LUpqWkMXe);
  --token-CYw-SU-tfRNn: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-CYw-SU-tfRNn);
  --token-phVwW1ZnifDY: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-phVwW1ZnifDY);
  --token-jfLuSQIrbV0Y: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-jfLuSQIrbV0Y);
  --token-wVewoms6Q0RQ: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-wVewoms6Q0RQ);
  --token-UhsIDR6tik7M: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-UhsIDR6tik7M);
  --token-0IgL5oRmPX2m: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-0IgL5oRmPX2m);
  --token-XYsFJwbSlKo9: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-XYsFJwbSlKo9);
  --token-Pg0a18FPDTT4: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-Pg0a18FPDTT4);
  --token-7fkFmRJT7qCM: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-7fkFmRJT7qCM);
  --token-AhJ7RsG9Z-Vc: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-AhJ7RsG9Z-Vc);
  --token-p5ylgGmkxK0p: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-p5ylgGmkxK0p
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-IfDu-DcJzqN9_font-family: "Montserrat", sans-serif;
  --mixin-IfDu-DcJzqN9_font-size: 24px;
  --mixin-IfDu-DcJzqN9_font-weight: 500;
  --mixin-IfDu-DcJzqN9_font-style: normal;
  --mixin-IfDu-DcJzqN9_color: #00000080;
  --mixin-IfDu-DcJzqN9_text-align: left;
  --mixin-IfDu-DcJzqN9_text-transform: none;
  --mixin-IfDu-DcJzqN9_line-height: 1.5;
  --mixin-IfDu-DcJzqN9_letter-spacing: normal;
  --mixin-IfDu-DcJzqN9_white-space: pre-wrap;
  --mixin-IfDu-DcJzqN9_user-select: text;
  --mixin-IfDu-DcJzqN9_text-decoration-line: none;
  --mixin-IfDu-DcJzqN9_text-overflow: clip;
  --mixin-bjqaa3O19Bbq_white-space: pre-wrap;
  --mixin-fLwOZf4XhYUl_font-family: "Montserrat", sans-serif;
  --mixin-fLwOZf4XhYUl_color: #ffffff;
  --mixin-fLwOZf4XhYUl_font-size: 72px;
  --mixin-fLwOZf4XhYUl_font-weight: 700;
  --mixin-fLwOZf4XhYUl_line-height: 88px;
  --mixin-fLwOZf4XhYUl_white-space: pre-wrap;
  --mixin-hWm6GRWpSfSG_font-family: "Inter", sans-serif;
  --mixin-hWm6GRWpSfSG_color: #000000;
  --mixin-hWm6GRWpSfSG_font-size: 36px;
  --mixin-hWm6GRWpSfSG_font-weight: 700;
  --mixin-hWm6GRWpSfSG_line-height: 43px;
  --mixin-hWm6GRWpSfSG_text-align: center;
  --mixin-hWm6GRWpSfSG_white-space: pre-wrap;
  --mixin-oDXGqEKE9-FH_font-family: "Inter", sans-serif;
  --mixin-oDXGqEKE9-FH_color: #000000;
  --mixin-oDXGqEKE9-FH_font-size: 24px;
  --mixin-oDXGqEKE9-FH_font-weight: 600;
  --mixin-oDXGqEKE9-FH_letter-spacing: -0.5px;
  --mixin-oDXGqEKE9-FH_line-height: 1.3;
  --mixin-oDXGqEKE9-FH_white-space: pre-wrap;
  --mixin-eV0a5WWep4WO_font-family: "Montserrat", sans-serif;
  --mixin-eV0a5WWep4WO_color: #185adb;
  --mixin-eV0a5WWep4WO_font-size: 24px;
  --mixin-eV0a5WWep4WO_font-weight: 700;
  --mixin-eV0a5WWep4WO_line-height: 29px;
  --mixin-eV0a5WWep4WO_text-align: center;
  --mixin-eV0a5WWep4WO_white-space: pre-wrap;
  --mixin-hIo-uxe7nDX__font-family: "Inter", sans-serif;
  --mixin-hIo-uxe7nDX__color: #000000;
  --mixin-hIo-uxe7nDX__font-size: 16px;
  --mixin-hIo-uxe7nDX__font-weight: 600;
  --mixin-hIo-uxe7nDX__line-height: 1.5;
  --mixin-hIo-uxe7nDX__white-space: pre-wrap;
  --mixin-c_4gVnxMhXLf_border-left-color: #dddddd;
  --mixin-c_4gVnxMhXLf_border-left-style: solid;
  --mixin-c_4gVnxMhXLf_border-left-width: 3px;
  --mixin-c_4gVnxMhXLf_color: #888888;
  --mixin-c_4gVnxMhXLf_padding-left: 10px;
  --mixin-c_4gVnxMhXLf_white-space: pre-wrap;
  --mixin-9f_VUBacDoM6_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-9f_VUBacDoM6_border-bottom-color: #dddddd;
  --mixin-9f_VUBacDoM6_border-bottom-style: solid;
  --mixin-9f_VUBacDoM6_border-bottom-width: 1px;
  --mixin-9f_VUBacDoM6_border-left-color: #dddddd;
  --mixin-9f_VUBacDoM6_border-left-style: solid;
  --mixin-9f_VUBacDoM6_border-left-width: 1px;
  --mixin-9f_VUBacDoM6_border-right-color: #dddddd;
  --mixin-9f_VUBacDoM6_border-right-style: solid;
  --mixin-9f_VUBacDoM6_border-right-width: 1px;
  --mixin-9f_VUBacDoM6_border-top-color: #dddddd;
  --mixin-9f_VUBacDoM6_border-top-style: solid;
  --mixin-9f_VUBacDoM6_border-top-width: 1px;
  --mixin-9f_VUBacDoM6_border-bottom-left-radius: 3px;
  --mixin-9f_VUBacDoM6_border-bottom-right-radius: 3px;
  --mixin-9f_VUBacDoM6_border-top-left-radius: 3px;
  --mixin-9f_VUBacDoM6_border-top-right-radius: 3px;
  --mixin-9f_VUBacDoM6_font-family: "Inconsolata";
  --mixin-9f_VUBacDoM6_padding-bottom: 1px;
  --mixin-9f_VUBacDoM6_padding-left: 4px;
  --mixin-9f_VUBacDoM6_padding-right: 4px;
  --mixin-9f_VUBacDoM6_padding-top: 1px;
  --mixin-9f_VUBacDoM6_white-space: pre-wrap;
  --mixin-TuP2OwKQNzCG_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-TuP2OwKQNzCG_border-bottom-color: #dddddd;
  --mixin-TuP2OwKQNzCG_border-bottom-style: solid;
  --mixin-TuP2OwKQNzCG_border-bottom-width: 1px;
  --mixin-TuP2OwKQNzCG_border-left-color: #dddddd;
  --mixin-TuP2OwKQNzCG_border-left-style: solid;
  --mixin-TuP2OwKQNzCG_border-left-width: 1px;
  --mixin-TuP2OwKQNzCG_border-right-color: #dddddd;
  --mixin-TuP2OwKQNzCG_border-right-style: solid;
  --mixin-TuP2OwKQNzCG_border-right-width: 1px;
  --mixin-TuP2OwKQNzCG_border-top-color: #dddddd;
  --mixin-TuP2OwKQNzCG_border-top-style: solid;
  --mixin-TuP2OwKQNzCG_border-top-width: 1px;
  --mixin-TuP2OwKQNzCG_border-bottom-left-radius: 3px;
  --mixin-TuP2OwKQNzCG_border-bottom-right-radius: 3px;
  --mixin-TuP2OwKQNzCG_border-top-left-radius: 3px;
  --mixin-TuP2OwKQNzCG_border-top-right-radius: 3px;
  --mixin-TuP2OwKQNzCG_font-family: "Inconsolata";
  --mixin-TuP2OwKQNzCG_padding-bottom: 3px;
  --mixin-TuP2OwKQNzCG_padding-left: 6px;
  --mixin-TuP2OwKQNzCG_padding-right: 6px;
  --mixin-TuP2OwKQNzCG_padding-top: 3px;
  --mixin-TuP2OwKQNzCG_white-space: pre-wrap;
  --mixin-ak8SZJcCJyyy_display: flex;
  --mixin-ak8SZJcCJyyy_flex-direction: column;
  --mixin-ak8SZJcCJyyy_align-items: stretch;
  --mixin-ak8SZJcCJyyy_justify-content: flex-start;
  --mixin-ak8SZJcCJyyy_list-style-position: outside;
  --mixin-ak8SZJcCJyyy_padding-left: 40px;
  --mixin-ak8SZJcCJyyy_position: relative;
  --mixin-ak8SZJcCJyyy_list-style-type: decimal;
  --mixin-ak8SZJcCJyyy_white-space: pre-wrap;
  --mixin-v-xwoW4IBJB0_display: flex;
  --mixin-v-xwoW4IBJB0_flex-direction: column;
  --mixin-v-xwoW4IBJB0_align-items: stretch;
  --mixin-v-xwoW4IBJB0_justify-content: flex-start;
  --mixin-v-xwoW4IBJB0_list-style-position: outside;
  --mixin-v-xwoW4IBJB0_padding-left: 40px;
  --mixin-v-xwoW4IBJB0_position: relative;
  --mixin-v-xwoW4IBJB0_list-style-type: disc;
  --mixin-v-xwoW4IBJB0_white-space: pre-wrap;
  --mixin-JJImnEBjJjPa_color: #000000;
  --mixin-JJImnEBjJjPa_font-family: "Montserrat", sans-serif;
  --mixin-JJImnEBjJjPa_font-size: 64px;
  --mixin-JJImnEBjJjPa_font-weight: 700;
  --mixin-JJImnEBjJjPa_line-height: 78px;
  --mixin-JJImnEBjJjPa_text-align: center;
  --mixin-JJImnEBjJjPa_white-space: pre-wrap;
  --mixin-1G1vKDxnzV8s_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-IfDu-DcJzqN9_font-size: 16px;
    --mixin-IfDu-DcJzqN9_line-height: 27px;
    --mixin-IfDu-DcJzqN9_white-space: pre-wrap;
    --mixin-fLwOZf4XhYUl_font-size: 40px;
    --mixin-fLwOZf4XhYUl_line-height: 48px;
    --mixin-fLwOZf4XhYUl_white-space: pre-wrap;
    --mixin-JJImnEBjJjPa_font-size: 28px;
    --mixin-JJImnEBjJjPa_line-height: 34px;
    --mixin-JJImnEBjJjPa_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-ASXjrE4RRy_z_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-ASXjrE4RRy_z_white-space);
  --mixin-sux8tFq82MTr_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-sux8tFq82MTr_box-shadow
  );
  --mixin-sux8tFq82MTr_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-sux8tFq82MTr_white-space
  );
  --mixin-PLC6_Rzd8w1A_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-PLC6_Rzd8w1A_white-space);
  --mixin-vcWOv5ztc1cX_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-vcWOv5ztc1cX_white-space
  );
  --mixin-nrF0nJsSFJY9_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-nrF0nJsSFJY9_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-IfDu-DcJzqN9_font-family);
  font-size: var(--mixin-IfDu-DcJzqN9_font-size);
  font-weight: var(--mixin-IfDu-DcJzqN9_font-weight);
  font-style: var(--mixin-IfDu-DcJzqN9_font-style);
  color: var(--mixin-IfDu-DcJzqN9_color);
  text-align: var(--mixin-IfDu-DcJzqN9_text-align);
  text-transform: var(--mixin-IfDu-DcJzqN9_text-transform);
  line-height: var(--mixin-IfDu-DcJzqN9_line-height);
  letter-spacing: var(--mixin-IfDu-DcJzqN9_letter-spacing);
  white-space: var(--mixin-IfDu-DcJzqN9_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-fLwOZf4XhYUl_font-family);
  color: var(--mixin-fLwOZf4XhYUl_color);
  font-size: var(--mixin-fLwOZf4XhYUl_font-size);
  font-weight: var(--mixin-fLwOZf4XhYUl_font-weight);
  line-height: var(--mixin-fLwOZf4XhYUl_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-hWm6GRWpSfSG_font-family);
  color: var(--mixin-hWm6GRWpSfSG_color);
  font-size: var(--mixin-hWm6GRWpSfSG_font-size);
  font-weight: var(--mixin-hWm6GRWpSfSG_font-weight);
  line-height: var(--mixin-hWm6GRWpSfSG_line-height);
  text-align: var(--mixin-hWm6GRWpSfSG_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-oDXGqEKE9-FH_font-family);
  color: var(--mixin-oDXGqEKE9-FH_color);
  font-size: var(--mixin-oDXGqEKE9-FH_font-size);
  font-weight: var(--mixin-oDXGqEKE9-FH_font-weight);
  letter-spacing: var(--mixin-oDXGqEKE9-FH_letter-spacing);
  line-height: var(--mixin-oDXGqEKE9-FH_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-eV0a5WWep4WO_font-family);
  color: var(--mixin-eV0a5WWep4WO_color);
  font-size: var(--mixin-eV0a5WWep4WO_font-size);
  font-weight: var(--mixin-eV0a5WWep4WO_font-weight);
  line-height: var(--mixin-eV0a5WWep4WO_line-height);
  text-align: var(--mixin-eV0a5WWep4WO_text-align);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-hIo-uxe7nDX__font-family);
  color: var(--mixin-hIo-uxe7nDX__color);
  font-size: var(--mixin-hIo-uxe7nDX__font-size);
  font-weight: var(--mixin-hIo-uxe7nDX__font-weight);
  line-height: var(--mixin-hIo-uxe7nDX__line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-c_4gVnxMhXLf_color);
  padding-left: var(--mixin-c_4gVnxMhXLf_padding-left);
  border-left: var(--mixin-c_4gVnxMhXLf_border-left-width)
    var(--mixin-c_4gVnxMhXLf_border-left-style)
    var(--mixin-c_4gVnxMhXLf_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-9f_VUBacDoM6_font-family);
  border-radius: var(--mixin-9f_VUBacDoM6_border-top-left-radius)
    var(--mixin-9f_VUBacDoM6_border-top-right-radius)
    var(--mixin-9f_VUBacDoM6_border-bottom-right-radius)
    var(--mixin-9f_VUBacDoM6_border-bottom-left-radius);
  padding: var(--mixin-9f_VUBacDoM6_padding-top)
    var(--mixin-9f_VUBacDoM6_padding-right)
    var(--mixin-9f_VUBacDoM6_padding-bottom)
    var(--mixin-9f_VUBacDoM6_padding-left);
  border-top: var(--mixin-9f_VUBacDoM6_border-top-width)
    var(--mixin-9f_VUBacDoM6_border-top-style)
    var(--mixin-9f_VUBacDoM6_border-top-color);
  border-right: var(--mixin-9f_VUBacDoM6_border-right-width)
    var(--mixin-9f_VUBacDoM6_border-right-style)
    var(--mixin-9f_VUBacDoM6_border-right-color);
  border-bottom: var(--mixin-9f_VUBacDoM6_border-bottom-width)
    var(--mixin-9f_VUBacDoM6_border-bottom-style)
    var(--mixin-9f_VUBacDoM6_border-bottom-color);
  border-left: var(--mixin-9f_VUBacDoM6_border-left-width)
    var(--mixin-9f_VUBacDoM6_border-left-style)
    var(--mixin-9f_VUBacDoM6_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-TuP2OwKQNzCG_font-family);
  border-radius: var(--mixin-TuP2OwKQNzCG_border-top-left-radius)
    var(--mixin-TuP2OwKQNzCG_border-top-right-radius)
    var(--mixin-TuP2OwKQNzCG_border-bottom-right-radius)
    var(--mixin-TuP2OwKQNzCG_border-bottom-left-radius);
  padding: var(--mixin-TuP2OwKQNzCG_padding-top)
    var(--mixin-TuP2OwKQNzCG_padding-right)
    var(--mixin-TuP2OwKQNzCG_padding-bottom)
    var(--mixin-TuP2OwKQNzCG_padding-left);
  border-top: var(--mixin-TuP2OwKQNzCG_border-top-width)
    var(--mixin-TuP2OwKQNzCG_border-top-style)
    var(--mixin-TuP2OwKQNzCG_border-top-color);
  border-right: var(--mixin-TuP2OwKQNzCG_border-right-width)
    var(--mixin-TuP2OwKQNzCG_border-right-style)
    var(--mixin-TuP2OwKQNzCG_border-right-color);
  border-bottom: var(--mixin-TuP2OwKQNzCG_border-bottom-width)
    var(--mixin-TuP2OwKQNzCG_border-bottom-style)
    var(--mixin-TuP2OwKQNzCG_border-bottom-color);
  border-left: var(--mixin-TuP2OwKQNzCG_border-left-width)
    var(--mixin-TuP2OwKQNzCG_border-left-style)
    var(--mixin-TuP2OwKQNzCG_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-ak8SZJcCJyyy_display);
  flex-direction: var(--mixin-ak8SZJcCJyyy_flex-direction);
  align-items: var(--mixin-ak8SZJcCJyyy_align-items);
  justify-content: var(--mixin-ak8SZJcCJyyy_justify-content);
  list-style-position: var(--mixin-ak8SZJcCJyyy_list-style-position);
  padding-left: var(--mixin-ak8SZJcCJyyy_padding-left);
  position: var(--mixin-ak8SZJcCJyyy_position);
  list-style-type: var(--mixin-ak8SZJcCJyyy_list-style-type);
  column-gap: var(--mixin-ak8SZJcCJyyy_column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-v-xwoW4IBJB0_display);
  flex-direction: var(--mixin-v-xwoW4IBJB0_flex-direction);
  align-items: var(--mixin-v-xwoW4IBJB0_align-items);
  justify-content: var(--mixin-v-xwoW4IBJB0_justify-content);
  list-style-position: var(--mixin-v-xwoW4IBJB0_list-style-position);
  padding-left: var(--mixin-v-xwoW4IBJB0_padding-left);
  position: var(--mixin-v-xwoW4IBJB0_position);
  list-style-type: var(--mixin-v-xwoW4IBJB0_list-style-type);
  column-gap: var(--mixin-v-xwoW4IBJB0_column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-JJImnEBjJjPa_color);
  font-family: var(--mixin-JJImnEBjJjPa_font-family);
  font-size: var(--mixin-JJImnEBjJjPa_font-size);
  font-weight: var(--mixin-JJImnEBjJjPa_font-weight);
  line-height: var(--mixin-JJImnEBjJjPa_line-height);
  text-align: var(--mixin-JJImnEBjJjPa_text-align);
}

:where(.root_reset) h2:where(.h2):hover,
h2:where(.root_reset.h2):hover,
:where(.root_reset .__wab_expr_html_text) h2:hover,
:where(.root_reset_tags) h2:hover,
h2:where(.root_reset_tags):hover {
}
